/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
header {
    background-color: #333;
    padding-right:100px;
}

nav ul {
    list-style-type: none;
    text-align: right; /* Aligning the text to the right */
}

nav ul li {
    display: inline-block;
    margin-left: 20px; /* Add space between menu items */
}

nav ul li:first-child {
    margin-left: 0; /* Remove margin for the first menu item */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}

/* Dropdown menu */
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 5px;
}

.dropdown-menu li {
    display: block;
}

.dropdown-menu li a {
    color: #333;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: #f0f0f0;
}
